:root {
    --cor-fundo: #2E3640;
    --cor-contraste: #0433BF;
    --cor-analoga-contraste-1: #0442BF;
    --cor-analoga-contraste-2: #0455BF;
    --cor: #C5CED9;
    --cor-fonte: #ffffff;
    --cor-saldo-positivo: rgb(72, 253, 72);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-fonte);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clear {
    clear: both;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

body {
    background-color: var(--cor-fundo);
}

header div.desktop {
    background-color: var(--cor-contraste);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 15px;
}

section.formulario {
    margin: 0 auto;
    padding: 25px 10px;
    border: 2px solid var(--cor-analoga-contraste-1);
    border-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.titulo {
    font-size: 20px;
    font-weight: normal;
    padding: 0 10px;
    background-color: var(--cor-fundo);
    position: absolute;
    top: -17.5px;
    left: 10px;
}

.formulario input[type="number"] {
    width: 80%;
    height: 35px;
    padding: 5px 10px;
    color: rgb(15, 15, 15);
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
}



.formulario input[type=submit] {
    float: right;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-analoga-contraste-2);
    box-shadow: 5px 5px 20px #0000007A;
}

section.tabela-valores {
    margin-top: 30px;
    padding-top: 15px;
    border-radius: 15px;
    border: 2px solid var(--cor-analoga-contraste-1);
    position: relative;
}

section.tabela-valores ul {
    list-style-type: none;
}

ul h2 {
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

ul h2 span,
li span {
    color: var(--cor-saldo-positivo);
}

ul li {
    margin-top: 1px;
    border-bottom: 1px solid var(--cor-analoga-contraste-1);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}