:root{
    --cor-fundo: #2E3640;
    --cor-contraste: #0433BF;
    --cor-analoga-contraste-1: #0442BF;
    --cor-analoga-contraste-2: #0455BF;
    --cor: #C5CED9;
    --cor-fonte: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-fonte);
}

.clear{clear: both;}

body{
    background-color: var(--cor-fundo);
}

header{
    background-color: var(--cor-contraste);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 15px;
}

section.formulario{
    margin: 0 auto;
    padding: 15px 10px;
    border: 2px solid var(--cor-analoga-contraste-1);
    border-radius: 15px;
    position: relative;
}

.titulo{
    font-size: 20px;
    font-weight: normal;
    padding: 0 10px;
    background-color: var(--cor-fundo);
    position: absolute;
    top: -13.5px;
    left: 10px;
}

.formulario input.salario{
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    color: rgb(15, 15, 15);
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 0;
}

.formulario input.entrada{
    float: right;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--cor-analoga-contraste-2);
    box-shadow: 5px 5px 20px #0000007A;
}

section.tabela-valores{
    margin-top: 30px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid var(--cor-analoga-contraste-1);
    position: relative;
}